<div class="container">
<h1>TUTJOBOPAS</h1>
<% if (!user) {%>
<h3>Login</h3>
<form role="form" action="/auth/local" method="post">
  <input type="text" name="identifier" placeholder="Username or Email">
  <input type="password" name="password" placeholder="Password">
  <button type="submit">Sign in</button>
</form>

<h3>Register</h3>
<form role="form" action="/auth/local/register" method="post">
  <input type="text" name="username" placeholder="Username">
  <input type="text" name="email" placeholder="Email">
  <input type="password" name="password" placeholder="Password">
  <button type="submit">Sign up</button>
</form>
<% } else {%>
<h2>Hei <%= user.username  %>!!</h2>
<div class="row">
<div class="col-md-6">
<h2>Lisää aihetunniste:</h2>
<form id="tag-form" role="form">
  <input type="text" name="name" id="name" placeholder="joku tagi tähän">
  <button type="submit">Lisää!</button>
</form>

<h3>Järjestelmässä jo olevat aihetunnisteet:</h3>
<% if(tags) { %>
<div id="tags-list">
<% tags.forEach(function(tag, index) { %>
  <div class="tags-list__tag" data-id="<%= tag.id %>">
    <div class="tags-list__tag__name">
      <%= tag.name %>
    </div>
    <div class="tags-list__tag__buttons">
      <button class="tags-list__tag__buttons__edit">Muokkaa</button>
      <button class="tags-list__tag__buttons__save">Tallenna</button>
      <button class="tags-list__tag__buttons__remove">Poista</button>
      <button class="tags-list__tag__buttons__cancel">Peru</button>
    </div>
  </div>
<% }); %>
</div>

<% } %>
</div> <!-- /.column -->
<%- partial('job-search') %>
</div> <!-- /.row -->
<% if (user.passports && user.passports.length > 0) { %>
<div class="row">
<h3>Bearer Token TUTJOBOPAS API:n käyttöön</h3>
<p>
Access Token: <code><%= user.passports[0].accessToken %></code>
</p>
<p>Bearer Tokenia käytetään TUTJOBOPAS API -kutsuissa autentikoitumiseen.
Tokenin sijoitetaan esimerkiksi HTTP-pyynnön headeriin.</p>
<pre>
PUT /api/tag/1 HTTP/1.1
Content-Type application/json
Authorization : Bearer &lt;token&gt;

{
  "name": "Passport.js"
}

</pre>
<p>Esimerkiksi oman käyttäjän tarkastella endpointissa: <a href="/api/user/<%= user.id %>"><code>/api/user/<%= user.id %></code></a>
<% } // endif user.passports %>
</div> <!-- /.row -->

<% } %>


</div>
<div class="ontop"></div>
